In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
get_link = 'https://books.toscrape.com/catalogue/page-1.html'
res = requests.get(get_link)
soup = BeautifulSoup(res.text, 'html.parser')
list_books = soup.find('ol',{'class':'row'})
books_item = list_books.find_all('li')

page_num = soup.find('li',{'class':'current'}).text
text = page_num.strip()
total_pages = text.split(' of ')[1]
total_pages = int(total_pages)


with open('all_books.csv', mode = 'w', encoding = 'utf-8') as fd:
    fd.write('Books, Price, Status, Rate \n')

    for i in range (total_pages):
        link = f'https://books.toscrape.com/catalogue/page-{i+1}.html'
        res_2 = requests.get(link)
        soup_2 = BeautifulSoup(res_2.text, 'html.parser')
        list_books_2 = soup_2.find('ol',{'class':'row'})
        books_item_2 = list_books_2.find_all('li')
    
        for books in range (len(books_item_2)):
            books_name = list_books_2.find_all('h3')[books].text
            price = list_books_2.find_all('p',{'class':'price_color'})[books].text
            status = list_books_2.find_all('p',{'class':'instock availability'})[books].text.split('\n')[3].strip()
            rate = list_books.find_all('article',{'class':'product_pod'})[books].find('p').attrs['class']
            rate_stars = ' - '.join(rate)
            fd.write(f'\"{books_name}\", \"{price}\", \"{status}\", {rate_stars} \n')

In [5]:
pd.read_csv('all_books.csv')

,Books,Price,Status,Rate
0,A Light in the ...,"""Â£51.77""","""In stock""",star-rating - Three
1,Tipping the Velvet,"""Â£53.74""","""In stock""",star-rating - One
2,Soumission,"""Â£50.10""","""In stock""",star-rating - One
3,Sharp Objects,"""Â£47.82""","""In stock""",star-rating - Four
4,Sapiens: A Brief History ...,"""Â£54.23""","""In stock""",star-rating - Five
...,...,...,...,...
995,Alice in Wonderland (Alice's ...,"""Â£55.53""","""In stock""",star-rating - Three
996,"Ajin: Demi-Human, Volume 1 ...","""Â£57.06""","""In stock""",star-rating - One
997,A Spy's Devotion (The ...,"""Â£16.97""","""In stock""",star-rating - One
998,1st to Die (Women's ...,"""Â£53.98""","""In stock""",star-rating - Two
999,"1,000 Places to See ...","""Â£26.08""","""In stock""",star-rating - Two